name: Build and Release

on:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - name: Build and Publish
        run: |
          cd mvgd-net  # Navigate to the project directory
          dotnet publish -c Release -r linux-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true -o ./publish/${{ github.repository }}_${{ github.ref_slug }}_linux-x64
          dotnet publish -c Release -r linux-arm64 /p:PublishSingleFile=true /p:PublishTrimmed=true -o ./publish/${{ github.repository }}_${{ github.ref_slug }}_linux-arm64
          dotnet publish -c Release -r osx-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true -o ./publish/${{ github.repository }}_${{ github.ref_slug }}_osx-x64
          dotnet publish -c Release -r osx-arm64 /p:PublishSingleFile=true /p:PublishTrimmed=true -o ./publish/${{ github.repository }}_${{ github.ref_slug }}_osx-arm64
          dotnet publish -c Release -r win-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true -o ./publish/${{ github.repository }}_${{ github.ref_slug }}_win-x64

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            publish/**
          token: ${{ secrets.GITHUB_TOKEN }}
